/* 全体 */
body {
  margin: 0;
  font-family: sans-serif;
  background:
    radial-gradient(
      circle at center,
      #0d3f6a 0%,
      #052948 60%,
      #031d33 100%
    );
  color: #CCCCFF;
  text-align: center;
}

.title {
    font-size: 6vh;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin: 30px 0;
}


/* 中央寄せ専用ラッパー */
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ルーレット枠 */
.frame {
  width: 100vw;
  height: 60vh;
  margin: auto;
  position: relative;   /* ← これ必須 */
  overflow: hidden;     /* ← これ必須 */
  background: transparent;
  border: none;
}

/* ===== フェードマスク ===== */
.frame::before,
.frame::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2;
  pointer-events: none;
}

.frame::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    #052948 0%,
    rgba(5,41,72,0) 100%
  );
}

.frame::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    #052948 0%,
    rgba(5,41,72,0) 100%
  );
}




/* 赤ライン */
.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background: red;
 /* background: rgb(153, 0, 255); */
}


/* リスト */
.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* 名前 */
.item {
  height: 20vh;
  line-height: 18vh;
  font-size: 10vh;
  text-align: center;
}



 button {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px 30px;
  cursor: pointer;
}


/* ===== 当選演出 ===== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.winner-name {
  font-size: 10vh;
  color: #CCCCFF;
  letter-spacing: 1vw;
  text-shadow: 0 0 20px rgba(204,204,255,0.8);
  animation: zoomUp 1.2s ease forwards;
}


/* ズームアップ */
@keyframes zoomUp {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1.3);
    opacity: 1;
  }
}
