/* 全体 */
body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
}
body {
  background-color: #052948;
  color: #CCCCFF;
}

.title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1em;
}


/* 中央寄せ専用ラッパー */
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ルーレット枠 */
.frame {
  width: 300px;
  height: 200px;
  margin:auto;
  border: 4px solid white;
  position: relative;
  overflow: hidden;
  background: black;
}


/* 赤ライン */
.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
 background: red;
 /* background: rgb(153, 0, 255); */
}

/* リスト */
.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* 名前 */
.item {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  text-align: center;
}


 button {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px 30px;
  cursor: pointer;
}


/* ===== 当選演出 ===== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.winner-name {
  font-size: 48px;
  color: gold;
  letter-spacing: 8px;
  animation: zoomUp 1.2s ease forwards;
}

/* ズームアップ */
@keyframes zoomUp {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1.3);
    opacity: 1;
  }
}
