body {
    font-family: sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
  }

  .frame {
    width: 300px;
    height: 200px;
    margin: 50px;
    border: 4px solid #fff;
    position: relative;
    background: #000;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: red;
    z-index: 10;
  }

  .list {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .item {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
  }

  button {
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
  }
</style>
</head>
<body>
